package v1

import "github.com/gogf/gf/v2/frame/g"

type HealthReq struct {
	g.Meta `path:"/health" method:"get" tags:"{{MODULE_NAME}}" summary:"Read module health"`
}

type HealthRes struct {
	Status string `json:"status"`
}
